@import "baseStyles.scss";

* {
  background-color: $background;
  margin: 0;
  padding: 0;
}

h1, h2 {
  @include title-primary;
}

h3 {
  @include title-secondary;
}

h5, h4 {
  @include text-featured;
}

h6, p {
  @include text-main;
}

.Main {
  padding: 30px;
  margin: 30px;
}

.primarybox {
  background-color: $landlord-primary-color;
  width: 100px;
  height: 100px;
  margin: 10px 0;
  padding: 0;
}

.secondarybox {
  background-color: $renter-primary-color;
  width: 100px;
  height: 100px;
  margin: 10px 0;
  padding: 0;
}