// CONTENTS OF DOCUMENT
//  - Colors
//  - Typography


// COLOR VARIABLES

//landlord
$landlord-primary-color: rgb(26, 42, 83);

//rental
$renter-primary-color: rgb(51, 153, 51);
$renter-secondary-color: rgb(102, 179, 102);

//default
$black: #000;
$white: #fff;
$background: #FCFCFC;


// TYPOGRAPHY
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i');

@mixin title-primary {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

@mixin title-secondary {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.8em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

@mixin text-featured {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.4em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

@mixin text-main {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
